  h1, h4 { 
    text-align: center
  }

  /*
  citing the link below which I used to style my table
  https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro
  */

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .histogram {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
  }